/backend/node_modules
/fontend/.dart_tool
/fontend/.idea
/fontend/android
/fontend/build
/fontend/ios
/fontend/linux
/fontend/macos
/fontend/test
/fontend/web
/fontend/windows
/fontend/.metadata
/fontend/.packages
/fontend/analysis_options.yaml
/fontend/chat_app.iml
/fontend/pubspec.lock
/fontend/pubspec.yaml
/fontend/README.md